<%- layout("./layouts/boilerplate"); %>

    <body>

        <div class="row offset-3 mt-2">
            <div class="col-8 ">
                <h1>Listing details</h1>
            </div>


            <div class="card col-8 listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-link">
                <div class="card-body">
                    <p class="card-text">
                        <br>
                        <b>
                            <%= listing.title %>
                        </b>
                    <ul>
                        <li>Description : <%= listing.description %>
                        </li>
                        <li>Price :&#8377 <%= listing.price %>
                        </li>
                        <li>location : <%= listing.location %>
                        </li>
                        <li>country : <%= listing.country %>
                        </li>
                    </ul>

                    </p>
                </div>
            </div>



            <br>

            <!-- <form action="/listings/<%= listing._id %>/edit" method="get">
        <button>edit listing</button>
    </form> -->
            <div class="btns mb-3">
                <a class="btn btn-danger" href="/listings/<%= listing._id %>/edit">Edit</a>

                <br>

                <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                    <!-- never forget to close the route /////////// -->
                    <button class="btn btn-danger offset-2">DELETE</button>
                </form>
            </div>

            <hr>

            <div class="row mt-2">
                <h4>Leave Review : </h4>

                <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
                    <div class="mt-3 mb-3">
                        <label for="rating" class="form-label">Rate : </label>
                        <input type="range" style="color: red;" id="rating" name="review[rating]" min="1" max="5"
                            class="form-range">
                    </div>
                    <div class="mt-3 mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">Please comment review</div>
                    </div>
                    <div class="mt-3 mb-3">
                        <button class="btn btn-danger">Submit Review</button>
                    </div>
                </form>
            </div>

            <hr>

           <!--  <div class="row mt-2">
                <p>
                   <ul>
                     <%for(review of listing.reviews) {%>
                         <li>
                            <%= review.comment %> , star : <%= review.rating %>
                         </li>
                        <%}%>
                   </ul>
                </p>
            </div> -->
            <p><b>All reviews</b></p>
            <div class="row">
                <%for(review of listing.reviews) {%>
            <div class="card col-5 ms-3 mb-3" >
                <div class="card-body">
                    <h5 class="card-title">Jane Doe</h5>
                    <p class="card-text"><%=review.comment  %></p>
                    <p class="card-text"><%=review.rating  %> star</p>
                </div>

                <form action="/listings/<%= listing._id %>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger mb-3">delete</button>
                </form>
            </div>
            <%}%>

            </div>
        </div>

    </body>